.grid{
    height: 700px;
    width: 700px;
    border: solid black;
    background-color: white;
    /*TODO*/
    display: inline-grid;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ccd5ae;
}

.headerArea{
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
}

.mainArea{
    display: flex;
    justify-content: center;
    gap: 60px;
}

h1{
    font-size: 60px;
    color: #d4a373;
    margin-bottom: 30px;
}

.intro{
    color: #fefae0;
    font-size: 30px;
}

.selectArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.colorPick{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: transparent;
    align-self: center;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }
  
input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

button{
    border-radius: 10px;
    color: #d4a373;
    background-color: #faedcd;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.sizeValue{
    font-size: 25px;
    text-align: center;
    color: #fefae0;
    font-weight: bold;
}

input[type="range"]{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track{
    background: #faedcd;
    height: 0.6rem;
    border-radius: 15px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    height: 2rem;
    width: 1rem;
    background-color: #d4a373;
    border-radius: 10px;
}

input[type="range"]:focus{
    outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb{
    border: 1px solid #d4a373;
    outline-offset: 0.125rem;
}

.gridElement{
    
}

.styleApply{
    background-color: black;
}